@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717; /* Dark mode background */
  --foreground: #ffffff; /* Light text for dark mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Darker background for dark mode */
    --foreground: #ededed; /* Lighter text for dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
